<html>
    <head>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <link rel="stylesheet" type="text/css" href="style.css">

    </head>
    <body>
  
           <!-- <div id="app">

           TEMPLATE SYNTAX 
            {{ message }}
            {{ name }}
            {{ discount() }}
            {{ add() }}

            <img v-bind:src = "path">
            <a v-bind:href="link">click on google</a>
        </div>  -->

            <!-- METHODS -->
            <!-- <div id="app">

               TEMPLATE SYNTAX
                
              the final price is {{ discount() }}
               addition is {{ add() }}
              </div> -->

              <!-- DATA BINDING -->
            <!-- <div id="app">

             <img v-bind:src=" path ">
              </div> -->

              <!-- VUE EVENTS -->
              <!-- <div id="app">
                  {{ temp }}
            <button v-on:click="increase">+</button>
            <button v-on:click="decrease">-</button>
              </div> -->

              <!-- EVENT MODIFIER -->
              <!-- it enables someone to click only once  -->
                <!-- <div id="app">
                  {{ temp }}
            <button v-on:click.once="increase">+</button>
            <button v-on:click.once="decrease">-</button>
              </div>  -->

                 <!-- KEY PRESSED EVENT -->
       <!-- <div id="app">
              
               <input type="text" v-on:keyup="keypressed"/>
           
              </div>   -->

              <!-- TWO WAY DATA BINDING  -->
              <!-- <div id="app">
              
                <input type="text" v-model="message"/>
                  {{message}}
            
               </div>   -->

                <!-- DYNAMIC CSS CLASSES assignment-->
            <!-- <div id="app">
              <input type="text" gate()/>
              {{gate}}
              <button gate()>click</button>
            </div> -->

                  <!-- LOOP -->
                  <!-- <div id="app">
                    <p v-for="students in students">{{students}}</p>
                  </div> -->

<!-- 
                      ARRAY OF OBJECTS -->
                      <!-- <div id="app">
                        <p v-for="players in players">{{players.name}} : {{players.score}}</p>
                      </div> -->

<!-- 
                      VUE /HOW TO ACCESS INFORMATION BETWEEN TWO VUE INSTANCES -->
                  <!-- <div id="app">
                   
                    {{value}}
                  </div>

                  <div id="demo">
                    {{value}}
                    {{f1()}}
                  </div> -->

                  <!-- VUE COMPONENT -->
                  <!-- <div id="app">
                    <mycomponent></mycomponent>
                  </div> -->

                        <!-- VUE REFERENCING -->
                    <div id="app">
                      <input type="text" placeholder="principal" ref="principal"><br>
                      <input type="text" placeholder="year" ref="year"><br>
                      <input type="text" placeholder="rate" ref="rate"><br>
                      <button v-on:click="calc()">answere</button>
                     <pr>{{intr}}</pr> 
                    </div>

<script type="text/javascript" src="index.js"></script>
    </body>
</html>